<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/views/admin/login.css">
    <!-- Add any additional CSS or JS links here -->
</head>
<body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form id="adminLoginForm">
            <div class="form-group">
                <label for="adminName">Admin Name:</label>
                <input type="text" id="adminName" name="adminName" required>
            </div>
            <div class="form-group">
                <label for="adminKey">Admin Key:</label>
                <input type="password" id="adminKey" name="adminKey" required>
            </div>
            <button type="submit">Login</button>
            <button id="registerAdminBtn" onclick="location.href='./registration.html'">Register Admin</button>
        </form>
        <div id="loginFailedPopup" class="popup" style="display: none;">
            <div class="popup-content">
                <span class="close-btn" onclick="closePopup()">&times;</span>
                <p>Login failed.</p>
            </div>
        </div>
    </div>
    <script  src="./login.js"></script> 
</body>
</html>
